html, body {
  margin: 0;
  padding: 0;
    height: 100%;
}

body {
  background: #333;
  height: 100%;
}

#background {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
    height: 100%;
    width: 100%;
}


#container {
height: 100%;
width: auto;
margin-left: auto;
margin-right: auto;
}

#studio {
  background: url("images/room.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  position: absolute;
  z-index: 150;
  pointer-events: none;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  z-index: 100;
  /*display: none;*/
}

#videoTopLeft #videoTopRight
#videoMiddleLeft #videoMiddleRight
#videoBottomLeft #videoBottomRight
#p1 #p2 #p3 #p4 #p5 #p6{
    max-width: 100%;
    height: auto;
 /* ie8 */
}
  
video {
  -webkit-transform-style: preserve-3d;
}

#captions {
  position: absolute;
  bottom: 21.5%;
  left: 37%;
}

#tR {
position: absolute;
left: 70%;
top: 5.5%;
width: 13%;
height: 14.8%;
background: url("images/toprightS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#tR:hover{
    background-image: url("images/topright.gif");
}
#mR {
position: absolute;
left: 82.6%;
top: 27%;
width: 11.3%;
height: 21.2%;
background: url("images/rightmiddleS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#mR:hover{
    background-image: url("images/rightmiddle.gif");
}
#bR {
position: absolute;
left: 75.1%;
top: 52.3%;
width: 18.3%;
height: 26.5%;
background: url("images/bottomRightS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#bR:hover{
    background-image: url("images/bottomRight.gif");
}
#tL {
position: absolute;
left: 20%;
top: 5.1%;
width: 12.9%;
height: 16%;
background: url("images/topleftS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#tL:hover{
    background-image: url("images/topleft.gif");
}
#mL {
position: absolute;
left: 7%;
top: 26%;
width: 12.5%;
height: 24%;
background: url("images/leftmiddleS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#mL:hover{
    background-image: url("images/leftmiddle.gif");
}
#bL {
position: absolute;
left: 12%;
top: 53%;
width: 15.2%;
height: 25.3%;
background: url("images/bottomLeftS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#bL:hover{
    background-image: url("images/bottomLeft.gif");
}

.tooltip {
  position: absolute;
  z-index: 200;
}

#text_tooltip {
  position: absolute;
  z-index: 200;
  font: 2em "Helvetica Neue", sans-serif;
  padding: 7px 14px;
  background: #000;
  background: rgba(0, 0, 0, .5);
  border-radius: 6px;
  color: #fff;
}
