html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#background #room {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  position: absolute;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  z-index: 2;
  /*display: none;*/
}
