html, body {
  margin: 0;
  padding: 0;
    height: 100%;
}

body {
  background: #000000;
  height: 100%;
}

#background {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
    height: 100%;
    width: 100%;
}


#container {
background-color: green;
background: url("images/room.png");
background-size: 100% 100%;
height: 100%;
width: auto;
margin-left: auto;
margin-right: auto;
}

canvas {
  position: absolute;
  z-index: -100;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  z-index: 100;
  /*display: none;*/
}

#videoTopLeft #videoTopRight
#videoMiddleLeft #videoMiddleRight
#videoBottomLeft #videoBottomRight
#p1 #p2 #p3 #p4 #p5 #p6{
    max-width: 100%;
    height: auto;
 /* ie8 */
}
  
video {
  -webkit-transform-style: preserve-3d;
}
#tR {
position: absolute;
left: 70%;
top: 5.5%;
width: 13%;
height: 14.8%;
background: url("images/toprightS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#tR:hover{
    background-image: url("images/topright.gif");
}
#mR {
position: absolute;
left: 82.6%;
top: 27%;
width: 11.3%;
height: 21.2%;
background: url("images/rightmiddleS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#mR:hover{
    background-image: url("images/rightmiddle.gif");
}
#bR {
position: absolute;
left: 75.1%;
top: 52.3%;
width: 18.3%;
height: 26.5%;
background: url("images/bottomRightS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#bR:hover{
    background-image: url("images/bottomRight.gif");
}
#tL {
position: absolute;
left: 20%;
top: 5.1%;
width: 12.9%;
height: 16%;
background: url("images/topleftS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#tL:hover{
    background-image: url("images/topleft.gif");
}
#mL {
position: absolute;
left: 7%;
top: 26%;
width: 12.5%;
height: 24%;
background: url("images/leftmiddleS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#mL:hover{
    background-image: url("images/leftmiddle.gif");
}
#bL {
position: absolute;
left: 12%;
top: 53%;
width: 15.2%;
height: 25.3%;
background: url("images/bottomLeftS2.gif") no-repeat center center;
background-size: 100% 100%;
}
#bL:hover{
    background-image: url("images/bottomLeft.gif");
}



#speakerTL {
position: absolute;
left: 3%;
top: 0%;
width: 14%;
height: 21%;
background: url("images/LeftSpeaker1.png") no-repeat center center;
background-size: 100% 100%;
}
#speakerTR {
position: absolute;
left: 83.1%;
top: 1.8%;
width: 13%;
height: 17.5%;
background: url("images/RightSpeaker1.png") no-repeat center center;
background-size: 100% 100%;
}

#speakerBL {
position: absolute;
left: -2%;
top: 22%;
width: 8.6%;
height: 14%;
background: url("images/LeftSpeaker2.png") no-repeat center center;
background-size: 100% 100%;
}


#speakerBR {
position: absolute;
left: 93.5%;
top: 17%;
width: 7.5%;
height: 12.4%;
background: url("images/RightSpeaker2.png") no-repeat center center;
background-size: 100% 100%;
}


#mainVideo{

z-index: -2;
width: 100%;
height: 80%;
position: absolute;
top: 0%;

}

#smallVideoWindow {
height: 43%;
width: auto;
padding-left: 1.2%;
}

#div_video {
width: 100%;
height: 100%;


}