html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#background #room {
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  position: absolute;
}

#debug {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  z-index: 2;
  /*display: none;*/
}

#loadingDiv {
	opacity: 0.8;
	background-color: #000000;
	z-index: 3;
	width: 100%;
	height: 100%;
	position: absolute;
}

#screenDiv {
	opacity: 1.0;
	z-index: 3;
	width: 100%;
	height: 100%;
	position: relative;
}

#loadingValue {
color: #FFFFFF;
font-family: "Arial Black", Gadget, sans-serif;
font-size: 45px;
position: absolute;
right: 25%;
left: 45%;
bottom:5%;
}

.loadingText {
	opacity: 1.0;
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	position: absolute;
	right: 25%;
	left: 26%;
}

#loadingLogo {
opacity: 0.8;
padding-top: 100px;
position: absolute;
right: 30%;
left: 30%;
width: 40%;
}

#endingDiv{
	opacity: 0.0;
	background-color: #000000;
  z-index: 3;
  width: 100%;
  height: 100%;
  position: absolute;
 	visibility: hidden;
}

.socialMediaLink {
	opacity:1.0;
	z-index: 4;
	padding-top: 400px;
	padding-left: 150px;
	text-decoration:none;
	position: absolute;
}

#facebookIcon{
	opacity:1.0;
	z-index: 4;
	top: 10%;
	right: 30%;
	left: 30%;
	text-decoration:none;
	position: absolute;
}

#twitterIcon{
	opacity:1.0;
	z-index: 4;
	bottom: 20%;
	right: 30%;
	left: 30%;
	text-decoration:none;
	position: absolute;
}

#pandaSiteIcon{
	opacity:1.0;
	z-index: 4;
	top: 10%;
	right: 30%;
	text-decoration:none;
	position: absolute;
}

#playAgainLink{
	opacity:1.0;
	z-index: 4;
	bottom: 30%;
	right: 30%;
	text-decoration:none;
	position: absolute;
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
}